<h1>Add a definition to $category.getName()</h1>

<form action="/definitions" method="post">
  <input id="categoryId" name="categoryId" type="hidden" value="$category.getId()">

  <div class="form-group">
    <label for="description">Enter one:</label>
    <input id="description" name="description" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add Definition</button>
</form>
