<h1>Dictionary</h1>

<h3>$word.getName()</h3>

<ul>
  #foreach($task in $word.getTasks())
   <li>$task.getDescription()</li>
  #end
</ul>

<a href="/words/$word.getId()/definitions/new">Add a new definition</a><br>
<a href="/words"><< Back to Dictionary</a>
